@import '../common'

.navbar
  height 100%
  background-color green
  padding 1rem
  .nav-links
  .logo
    color lemon !important
  .nav-links
    span
      color white !important
      font-size 1.6rem
