@import '../common'

navbar
  display flex
  flex-direction column
  flex-wrap nowrap
  justify-content center
  align-items stretch
  height 4rem
  background-color green
  .navbar
    flex 0 1 auto
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content flex-start
    align-items stretch
    align-content flex-start
    background-color green
    height 4rem
    span
      flex 0 1 auto
      display flex
      flex-direction column
      flex-wrap nowrap
      justify-content center
      align-content center
      border-right 1px solid forestgreen
      font-size 1.6rem
      padding 5px
      text-align center
      a
        color yellow
      a:link
        text-decoration none
      a:visited
        text-decoration none
      a:hover
        text-decoration none
      a:active
        color white
        text-decoration none
    span:hover
      background-color limegreen
      color khaki
      cursor pointer
    span:hover:nth-child(1)
      cursor default
    span:last-of-type
      border-right none
