.app
  position absolute
  bottom 0
  top 0
  left 0
  right 0
  height 100%
  display block
  background-color $lightBgColor
  div
    position absolute
    bottom 0
    top 0
    left 0
    right 0
    height 100%
    display block
