@import url(http://fonts.googleapis.com/css?family=Oswald)
@import url(http://fonts.googleapis.com/css?family=Open%20Sans)

$primaryColor = #0277bd
$accentColor = #1de9b6
$bgColor = #efefef
$darkBgColor = #263238
$lightBgColor = #37474f
$lightTextColor = #f5f5f5
$darkTextColor = #212121

.noshow
  display none

body
  position absolute
  bottom 0
  top 0
  left 0
  right 0
  height 100%
  display block
  background-color aliceblue
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.
  font 62.5% 'Open Sans', sans-serif

p
  font 1rem 'Open Sans', sans-serif

h1
  font-size 3rem
  font-family 'Oswald', sans-serif
